.main-title {
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.main-pic {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: solid red 10px;
    border-radius: 10px;
}

.main-table {
    background-color: slategray;
    width: 90%;
    margin: auto;
    color: snow;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-table td {
    width: 33.33%;
    padding: 30px;
}

#title-row {
    background-color: chartreuse;
    color: black;
    font-size: 25px;
}

nav {
    background-color: darkgoldenrod;
}

.fade-in {
    background-color: darkviolet;
    font-size: 36px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    opacity: 0;
    animation: fade-in-anim 2s ease-in forwards;
}

@keyframes fade-in-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.color-changing {
 background-color: black;
    font-size: 36px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
   animation: color-anim 0.5s infinite;
}
       
@keyframes color-anim {
    0%{color: aqua;}
    10%{color: chartreuse;}
    20%{color: blueviolet;}
    30%{color: crimson;}
    40%{color: darkred;}
    50%{color: forestgreen;}
    60%{color: ghostwhite;}
    70%{color: gold;}
}

.glide-x {
    width: 40%;
    animation: glide-anim 10s ease-in-out infinite;
}

@keyframes glide-anim{
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(-100%);
    }
}








